<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/styles/main.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="div_img">
    <!-- <img src="DOLUS_logo.png" id="img_logo"> -->
    </div>
    <h1 id="content_title"></h1>

    <div id="grille">
        <table id="test_grille"></table>
        <br><br>
        <button class="glow-on-hover" id="submit_guess">Submit Guess</button>  
        <button class="glow-on-hover" id="get_new_word">Guess a New Word</button>
        <button class="glow-on-hover" id="score_button">Check Profile Score</button>
        <button class="glow-on-hover" id="disconnect_button">Disconnect Profile</button>

    </div>  

    
    <script src="/static/scripts/main.js"></script>
</body>
</html>