<!DOCTYPE html>

    <head>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    </head>

    <body>


        <h1>Score on TODAY's WORD</h1>
        <span id="word-score-value"></span>
        <br>
        <span id="word-score-ntry"></span>



        <h1 id="score-profile">Score about the Profile</h1>
        <table>
            <thead>
                <th>Information</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Total Number of Words</td>
                    <td><span id="profile-words"></span></td>
                </tr>
                <tr>
                    <td>Total Number of Words Found</td>
                    <td><span id="profile-score"></span></td>
                </tr>
                <tr>
                    <td>Total Number of Attempts</td>
                    <td><span id="profile-ntry"></span></td>
                </tr>
                <tr>
                    <td>Total Average of Attempts to Succeed</td>
                    <td><span id="profile-avgtry"></span></td>
                </tr>
            </tbody>
        </table>


    <div>
        <button id="btn-main-page">Back to Main Page</button>
    </div>

    <script src="/static/scripts/scoreboard.js"></script>
    </body>

</html>