<!DOCTYPE html>

    <head>
        <link rel="stylesheet" href="/static/styles/scoreboard.css">
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container-image">
            <img src="/static/images/Logo.png">
        </div>
        <h1>Score on TODAY's WORD</h1>
        <div class="word-score">
        <span id="word-score-value"></span>
        <br>
        <span id="word-score-ntry"></span>
        </div>


        <h1 id="score-profile">Scores about the Profile</h1>
        <div class="score-user" id="table-user">
        <table>
            <thead>
                <th>Information</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Total Number of Words</td>
                    <td><span id="profile-words"></span></td>
                </tr>
                <tr>
                    <td>Total Number of Words Found</td>
                    <td><span id="profile-score"></span></td>
                </tr>
                <tr>
                    <td>Total Number of Attempts</td>
                    <td><span id="profile-ntry"></span></td>
                </tr>
                <tr>
                    <td>Total Average of Attempts to Succeed</td>
                    <td><span id="profile-avgtry"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="button">
        <button class="glow-on-hover" id="btn-main-page">Back to Main Page</button>
    </div>

    <script src="/static/scripts/scoreboard.js"></script>
    </body>

</html>